h1 {
    color: blue;
    background-color: yellow;
}

p {
    color: green;
    background-color: yellowgreen;
}

h2 {
    background: red;
    color: whitesmoke;
}

h3 {
    background: navy;
    color: white;
}

h4 {
    color: green;
    background: royalblue;
}

h5 {
    color: orange;
    background: black;
    margin: 0;
    padding: 10px;
    text-align: center;
}